:root {
  --purple: hsl(259, 100%, 65%);
  --lightred: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offwhite: hsl(0, 0%, 94%);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeygrey: hsl(0, 1%, 44%);
  --offblack: hsl(0, 0%, 8%);
  --poppins: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: inherit;
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 0.5rem;
}

body {
  /* font-size: 32px; */
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: var(--poppins);
  background-color: var(--offwhite);
}

.calculator-container {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  border-end-end-radius: 100px;
  width: 90%;
  position: relative;
}

.input-container {
  font-size: 0.8em;
  display: flex;
  gap: 0.6rem;
  border-bottom: 2px solid var(--offwhite);
}

.input-item {
  color: var(--smokeygrey);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 4.5rem;
}

.item-title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.text-input {
  padding: 0.9rem 0.8rem;
  border: 1px solid var(--lightgrey);
  border-radius: 10px;
  width: 90px;
  /* flex: 0 0 150px; */
  font-size: 1.3em;
  outline: none;
}

.text-input:focus {
  border: 1px solid var(--purple);
}

.error {
  display: none;
  color: var(--lightred);
  font-weight: 400;
  font-style: italic;
  font-size: 0.85em;
}

.button {
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  padding: 2rem;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 40%;
  top: 143px;
}

.button > img {
  transform: scale(0.6);
}

.button:hover {
  background-color: var(--offblack);
}

.info-container {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.info-item {
  display: flex;
  font-size: 3.1em;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}

.info-item > span {
  color: var(--purple);
}

@media (min-width: 800px) {
  .calculator-container {
    width: 800px;
    padding: 3rem;
    border-end-end-radius: 200px;
  }
  .input-container {
    font-size: 1em;
    gap: 2rem;
    justify-content: normal;
  }
  .input-item {
    gap: 0.5rem;
    margin-bottom: 2.5rem;
  }
  .item-title {
    letter-spacing: 2px;
  }
  .text-input {
    padding: 0.8rem 1.5rem;
    width: 150px;
    font-size: 1.7em;
  }
  .info-item {
    font-size: 6em;
  }
  .button {
    width: 80px;
    height: 80px;
    right: 3rem;
    top: 153px;
  }
  .button > img {
    transform: scale(0.85);
  }
}
