:root {
  --purple: hsl(259, 100%, 65%);
  --lightred: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offwhite: hsl(0, 0%, 94%);
  --lightgrey: hsl(0, 0%, 86%);
  --smokeygrey: hsl(0, 1%, 44%);
  --offblack: hsl(0, 0%, 8%);
  --poppins: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: inherit;
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 0.5rem;
}

body {
  /* font-size: 32px; */
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: var(--poppins);
  background-color: var(--offwhite);
}

.calculator-container {
  background-color: var(--white);
  padding: 3rem;
  border-radius: 1rem;
  border-end-end-radius: 200px;
  width: 800px;
  position: relative;
}

.input-container {
  display: flex;
  gap: 2rem;
  border-bottom: 2px solid var(--offwhite);
}

.input-item {
  color: var(--smokeygrey);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.item-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text-input {
  padding: 0.8rem 1.5rem;
  border: 1px solid var(--lightgrey);
  border-radius: 10px;
  width: 150px;
  /* flex: 0 0 150px; */
  font-size: 1.7em;
  outline: none;
}

.text-input:focus {
  border: 1px solid var(--purple);
}

.error {
  display: none;
  color: var(--lightred);
  font-weight: 400;
  font-style: italic;
  font-size: 0.85em;
}

.button {
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  padding: 2rem;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 3rem;
  top: 153px;
}

.button:hover {
  background-color: var(--offblack);
}

.info-container {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.info-item {
  display: flex;
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}

.info-item > span {
  color: var(--purple);
}
